/* Assignment 3 - Styling */

/* style for the html element */
html {
    background-color: #647382;
}

/* style for body element */
body {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    font-family: sans-serif;
}

/* style for header element */
header {
    padding-top: 4px;
    background-image: linear-gradient(45deg, darkgray, #5B6876, #47515C);
    border-bottom-style: solid;
}

/* style for h1 */
h1 {
    margin-left: 90px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* style for main */
main {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-image: radial-gradient(#47515C, #5B6876, darkgray);
}

/* style for the other remaining headers */
h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 16px;
}

/* style for p in main */
main p {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: larger;
    margin-top: 0px;
}

/* these two styles are responsible for floating the images to their respective direction */
main section#left img {
    float: left;
    padding-right: 16px;
    padding-bottom: 16px;
}

main section#right img {
    float: right;
    padding-left: 16px;
    padding-bottom: 16px;
}

/* style for centerizing sections in main */
main section#center {
    text-align: center;
}

/* style for aligning sections to the right in main */
main section#right {
    text-align: right;
}

/* style for buttons */
button {
    background-color: #647382;
    border: 2px solid #47515C;
    color: lightgrey;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: lightgrey;
    border: 2px solid #647382;
    color: #47515C;
}

/* hides the divs */
div#firstLayer, div#secondLayer, div#thirdLayer {
    display: none;
}

/* style for the p in divs */
div p {
    margin-top: 6px;
    margin-bottom: 12px;
}

/* style for the video */
iframe {
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #5B6876;
    box-shadow: 6px 6px #47515C;
}

/* style for footer */
footer {
    height: 50px;
    border-top-style: solid;
    background-image: linear-gradient(45deg, #47515C, #5B6876, darkgray);
}

/* style for p in footer */
footer p {
    line-height: 25px;
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* style for the link in the footer */
footer p a:link {
    text-decoration: none;
    color: grey;
}

footer p a:visited {
    color: #647382
}

footer p a:hover {
    color: lightgrey;
}

footer p a:active {
    color: white;
}